.contacts {
    display: none;
    flex-direction: column;
    margin-left: auto;
    
    align-items: center;

    @media screen and (min-width: 768px) {
        display: block;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        
    }
}

.contacts__list {
    display: block;
    gap: 10px;
    justify-content: flex-end;

    @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
    }

}

.contacts__item {
    margin-bottom: 10px;
    display: flex;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        
    }
}

.contacts__item--tel {
    margin-bottom: 0;
}

.contacts__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    text-decoration: none;
    color: $primary-text-color;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    color: $accent-color;
    }
}

.contacts__icon {
    width: 16px;
    height: 16px;
    fill: $primary-text-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

.contacts__link:hover &,
.contacts__link:focus & {
    fill: $accent-color;
    }
}

.contacts__icon--width {
    width: 10px;
}



