.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%) scale(1.0);

    width: 95%;
    max-width: 450px;
    height: 95%;
    max-height: 609px;
    overflow: scroll;

    background-color: $primary-white-color;
    border-radius: 4px;
    box-shadow: 0px 1px 3px $shadow-one-color,
        0px 1px 1px $shadow-two-color, 0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 1200px) {
        max-width: 528px;
        width: 528px;
        max-height: 581px;
        height: 581px;
        
    }

    @media screen and (max-width:479px) {
        width: 95%;
        height: 95%;
        
    }

}

.modal__close {
    position: absolute;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;

    border-radius: 50%;
    background-color: $primary-white-color;
    border: 1px solid $button-border-color;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    box-shadow: 0px 4px 4px $shadow-color;
    }
}

.modal__icon {

    width: 11px;
    height: 11px;
    fill: $black-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

.modal__close:hover &,
.modal__close:focus & {
    fill: $accent-color;
    }
}


