.page-header {
    position: relative;
    
    display: flex;
    border-bottom: 1px solid $line-color;
    height: 60px;
    justify-content: baseline;

    @media screen and (min-width: 768px) {
        height: 80px;;
    }
    
}

.page-header__nav {

    display: flex;
    align-items: center;
}

.page-header__button {
    margin-left: auto;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;

    @media screen and (min-width: 768px) {
        display: none;
    }
    
}

.page-header__pic {
    position: relative;
    width: 40px;
    height: 40px; 
    z-index: 10;
    &:hover,
    &:focus {
        fill: $accent-color;
    }
}

.page-header__button .page-header__icon--cross {
    position: absolute;
    display: none;
}

.page-header__button.is-open .page-header__icon--cross {
    display: block;
    position: fixed;
    // z-index: 10;
    
}

.page-header__button.is-open .page-header__icon--menu {
    display: none;
}

.mobile-menu {
    display: none;

    position: absolute;

    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    top: 0;
    left: 0;
    width: 480px;
    height: fit-content;
    background-color: aqua;

&.is-open {
    display: block;
}

}

